<script>

  jQuery(function ($) {
    $("#berge-versetzen").rss(
      "https://bergeversetzen.blogspot.com/feeds/posts/default", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://bergeversetzen.blogspot.com'>Berge versetzen</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#chartmanncom").rss(
      "https://www.chartmann.com/feed", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://chartmann.com'>chartmann.com</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#klautes-blog").rss(
      "https://klautesblog.blogspot.com/feeds/posts/default", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://klautesblog.blogspot.com'>klaute's blog</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#denkspuren").rss(
      "https://denkspuren.blogspot.com/feeds/posts/default", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://denkspuren.blogspot.com'>denkspuren</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#netzpolitik").rss(
      "https://netzpolitik.org/feed", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://netzpolitik.org'>Netzpolitik.org</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#bildblog").rss(
      "https://www.bildblog.de/?feed=rss", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://www.bildblog.de'>Bildblog.de</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });

    $("#slashdot").rss(
      "https://rss.slashdot.org/Slashdot/slashdotMainatom", {
      limit: 1,
      offsetStart: false,
      offsetEnd: false,
      ssl: false,
      dateFormat: 'Do MMMM, YYYY',
      layoutTemplate: "<b><a href='https://www.slashdot.org'>Slashdot.org</a></b><br/><div class='feed-container'>{entries}</div>",
      entryTemplate: '<a href="{url}">{title}<br/><div class="blogroll-date">{date}</div></a>'
    });


  });
</script>

<div id="berge-versetzen"></div>
<br />
<div id="chartmanncom"></div>
<br />
<div id="klautes-blog"></div>
<br />
<div id="denkspuren"></div>
<br />
<div id="netzpolitik"></div>
<br />
<div id="bildblog"></div>
<br />
<div id="slashdot"></div>